// font-family
$font-regular: 'Space Mono',
monospace;

// font-size

$fontsize-h2: 50px;
$fontsize-h6: 20px;

// line-height
$lineheight-standard: 1.2;

// colors
$white-color: #ffffff;
$silver-color: #DDDDDD;
$black-color: #000000;
$mask-color: rgba(0, 0, 0, 0.3);